@font-face {
    font-family: "LooneyTunes";
    src: url("./Looney Tunes.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
  }

@font-face {
    font-family: "PokemonHollow";
    src: url("./Pokemon Solid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Blanka" ;
  src: url("./Blanka.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Borg";
  src: url("./Borg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Aachen";
  src: url("./Aachen_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  .looney-title {
    font-family: "LooneyTunes", sans-serif;
    font-size: 14.4vh;
    font-weight: bold;  /* Makes the text thicker */
    color: rgba(212, 210, 210, 0.818);
    text-align: center;
    position: relative;
    top: 2.87vh;
}      

  .pokemon {
    font-family: "PokemonHollow", sans-serif;
    font-size: 5.75vh;
    font-weight: bold;  /* Makes the text thicker */
    color: rgba(238, 223, 24, 0.926);
    text-align: center;
    position: relative;
    top: 83.45vh;
  }

  .blanka1{
    font-family: "Blanka", sans-serif;
    font-size: 8.63vh;
    font-weight: bold;  /* Makes the text thicker */
    color: rgba(20, 31, 242, 0.899);
    text-align: center;
    position: relative;
  }

  .borg1{
    font-family: "Borg" , sans-serif;
    font-size: 8.63vh;
    font-weight: bold;
    color:rgba(25, 234, 22, 0.926);
    text-align: center;
    position: relative;
  }

  .pulp{
    font-family: "Aachen" , sans-serif;
    font-size: 2.88vh;
    font-weight: normal;
    color: rgba(227, 213, 23, 0.996);
    text-align: center;
    position: relative;
  }
/* Hide the default file input */
.hidden-file-input {
  display: none;
}

/* Custom file upload button */
.custom-file-label {
  background-color: #4CAF50;
  color: white;
  padding: 1.44vh 2.16vh;
  border-radius: 1.15vh;
  cursor: pointer;
  font-size: 2.30vh;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 79.13vh;   /* Adjust vertical position */
  left: 37vh; /* Adjust horizontal position */
}

/* Hover effect */
.custom-file-label:hover {
  background-color: #45a049;
}


  
